footer {
  background-color: #2a2e31;
  color: #7e7e7e;
  padding: 20px;
}

#pojemnik1 {
  text-align: center;
}

.mail {
  margin-bottom: 50px;
  display: inline-block;
  padding: 20px;
}

.gmail {
  margin-top: -5px;
}


.logo {
  margin-bottom: 50px;
  display: inline-block;
  padding: 20px;

}


.material-icons.md-48 {
  font-size: 48px;
}

.wszelkie {
  font-family: times;
  font-size: 14px;
  color: #7e7e7e;
  margin-top: -1px;
}





.scrollToTop {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Fixed/sticky position */
  bottom: 40px;
  /* Place the button at the bottom of the page */
  right: 40px;
  /* Place the button 30px from the right */
  z-index: 99;
  /* Make sure it does not overlap */
  border: none;
  /* Remove borders */
  outline: none;
  /* Remove outline */


  cursor: pointer;
  /* Add a mouse pointer on hover */
  padding: 15px;
  /* Some padding */
  border-radius: 10px;
  /* Rounded corners */
  font-size: 18px;
  /* Increase font size */
  background: url(../images/scroll.png);
  width: 70px;
  height: 70px;
}